USE [db_FlowTask]
GO
/****** Object:  User [user]    Script Date: 21.08.2025 23:01:05 ******/
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user]
GO
ALTER ROLE [db_datareader] ADD MEMBER [user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [user]
GO
/****** Object:  Table [dbo].[tbl_Costumer]    Script Date: 21.08.2025 23:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Costumer](
	[id] [nvarchar](11) NOT NULL,
	[taxOffice] [nvarchar](50) NULL,
	[compNo] [nvarchar](20) NULL,
	[compName] [nvarchar](250) NOT NULL,
	[compPhone] [nvarchar](15) NULL,
	[compMail] [nvarchar](100) NULL,
	[compFax] [nvarchar](15) NULL,
	[adminName] [nvarchar](150) NULL,
	[adminTitle] [nvarchar](50) NULL,
	[adminDepartment] [nvarchar](50) NULL,
	[adminPhone] [nvarchar](15) NULL,
	[adminMail] [nvarchar](100) NULL,
	[adminFax] [nvarchar](15) NULL,
	[country] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[district] [nvarchar](50) NOT NULL,
	[nightbrood] [nvarchar](50) NOT NULL,
	[address] [nvarchar](1000) NULL,
 CONSTRAINT [PK_tbl_Costumer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Department]    Script Date: 21.08.2025 23:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Department](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[department] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Department] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 21.08.2025 23:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[phone1] [nvarchar](15) NOT NULL,
	[phone2] [nvarchar](15) NULL,
	[mail] [nvarchar](150) NULL,
	[fax] [nvarchar](15) NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[admin] [bit] NULL,
	[titleID] [int] NOT NULL,
	[departmentID] [int] NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[district] [nvarchar](50) NOT NULL,
	[nightbrood] [nvarchar](50) NOT NULL,
	[address] [nvarchar](1000) NULL,
 CONSTRAINT [PK_tbl_Employee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_EmployeeHistoryWork]    Script Date: 21.08.2025 23:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EmployeeHistoryWork](
	[employeeID] [int] NOT NULL,
	[date_time] [datetime] NULL,
	[status] [nvarchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_EmployeeWork]    Script Date: 21.08.2025 23:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EmployeeWork](
	[employeeID] [int] NOT NULL,
	[active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Note]    Script Date: 21.08.2025 23:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Note](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employeeID] [int] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[note] [nvarchar](1000) NULL,
 CONSTRAINT [PK_tbl_Note] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ProcessType]    Script Date: 21.08.2025 23:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ProcessType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[process_type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_ProcessType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TaskInfo]    Script Date: 21.08.2025 23:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TaskInfo](
	[id] [int] NOT NULL,
	[costumerID] [nvarchar](11) NULL,
	[costumerContact] [nvarchar](50) NULL,
	[costumerReport] [nvarchar](1000) NULL,
	[costumerDate] [date] NULL,
 CONSTRAINT [PK_tbl_TaskInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TaskProcess]    Script Date: 21.08.2025 23:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TaskProcess](
	[taskID] [int] NOT NULL,
	[title] [nvarchar](50) NULL,
	[process_typeID] [int] NULL,
	[comment] [nvarchar](1000) NULL,
	[toEmployeeID] [int] NULL,
	[fromEmployeeID] [int] NULL,
	[number] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Title]    Script Date: 21.08.2025 23:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Title](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Title] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Employee] ADD  CONSTRAINT [DF_tbl_Employee_admin]  DEFAULT ((0)) FOR [admin]
GO
ALTER TABLE [dbo].[tbl_EmployeeWork] ADD  CONSTRAINT [DF_tbl_EmployeeWork_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[tbl_Employee]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Employee_tbl_Department] FOREIGN KEY([departmentID])
REFERENCES [dbo].[tbl_Department] ([id])
GO
ALTER TABLE [dbo].[tbl_Employee] CHECK CONSTRAINT [FK_tbl_Employee_tbl_Department]
GO
ALTER TABLE [dbo].[tbl_Employee]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Employee_tbl_Title] FOREIGN KEY([titleID])
REFERENCES [dbo].[tbl_Title] ([id])
GO
ALTER TABLE [dbo].[tbl_Employee] CHECK CONSTRAINT [FK_tbl_Employee_tbl_Title]
GO
ALTER TABLE [dbo].[tbl_EmployeeHistoryWork]  WITH CHECK ADD  CONSTRAINT [FK_tbl_EmployeeHistoryWork_tbl_Employee] FOREIGN KEY([employeeID])
REFERENCES [dbo].[tbl_Employee] ([id])
GO
ALTER TABLE [dbo].[tbl_EmployeeHistoryWork] CHECK CONSTRAINT [FK_tbl_EmployeeHistoryWork_tbl_Employee]
GO
ALTER TABLE [dbo].[tbl_EmployeeWork]  WITH CHECK ADD  CONSTRAINT [FK_tbl_EmployeeWork_tbl_Employee] FOREIGN KEY([employeeID])
REFERENCES [dbo].[tbl_Employee] ([id])
GO
ALTER TABLE [dbo].[tbl_EmployeeWork] CHECK CONSTRAINT [FK_tbl_EmployeeWork_tbl_Employee]
GO
ALTER TABLE [dbo].[tbl_Note]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Note_tbl_Employee] FOREIGN KEY([employeeID])
REFERENCES [dbo].[tbl_Employee] ([id])
GO
ALTER TABLE [dbo].[tbl_Note] CHECK CONSTRAINT [FK_tbl_Note_tbl_Employee]
GO
ALTER TABLE [dbo].[tbl_TaskInfo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TaskInfo_tbl_Costumer] FOREIGN KEY([costumerID])
REFERENCES [dbo].[tbl_Costumer] ([id])
GO
ALTER TABLE [dbo].[tbl_TaskInfo] CHECK CONSTRAINT [FK_tbl_TaskInfo_tbl_Costumer]
GO
ALTER TABLE [dbo].[tbl_TaskProcess]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TaskProcess_tbl_Employee] FOREIGN KEY([toEmployeeID])
REFERENCES [dbo].[tbl_Employee] ([id])
GO
ALTER TABLE [dbo].[tbl_TaskProcess] CHECK CONSTRAINT [FK_tbl_TaskProcess_tbl_Employee]
GO
ALTER TABLE [dbo].[tbl_TaskProcess]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TaskProcess_tbl_Employee1] FOREIGN KEY([fromEmployeeID])
REFERENCES [dbo].[tbl_Employee] ([id])
GO
ALTER TABLE [dbo].[tbl_TaskProcess] CHECK CONSTRAINT [FK_tbl_TaskProcess_tbl_Employee1]
GO
ALTER TABLE [dbo].[tbl_TaskProcess]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TaskProcess_tbl_ProcessType] FOREIGN KEY([process_typeID])
REFERENCES [dbo].[tbl_ProcessType] ([id])
GO
ALTER TABLE [dbo].[tbl_TaskProcess] CHECK CONSTRAINT [FK_tbl_TaskProcess_tbl_ProcessType]
GO
ALTER TABLE [dbo].[tbl_TaskProcess]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TaskProcess_tbl_TaskInfo] FOREIGN KEY([taskID])
REFERENCES [dbo].[tbl_TaskInfo] ([id])
GO
ALTER TABLE [dbo].[tbl_TaskProcess] CHECK CONSTRAINT [FK_tbl_TaskProcess_tbl_TaskInfo]
GO
